<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Forms</h1>
  <form (ngSubmit)="onRegister()" #registerForm="ngForm" >
    <div class="register-form">
      <label for="name">Name: </label>
      <input type="text" name="name" required id="name" [(ngModel)]="user.name">
      <p>Error message</p>
    </div>
    <div class="register-form">
      <label for="email">Email: </label>
      <input type="email" name="email" required id="email" pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$" [(ngModel)]="user.email">
      <p>Error message</p>
    </div>
    <div class="register-form">
      <label for="password">Password: </label>
      <input type="password" name="password" required id="password" [(ngModel)]="user.password">
      <p>Error message</p>
    </div>
    <button [disabled]="registerForm.invalid" type="submit">Register</button>
  </form>
  <hr/>
  <h1>ngClass & ngStyle</h1>
  <input type="text" required #nameInputngClass="ngModel" [(ngModel)]="name">
  <hr class="line-error"
  [ngClass]="{
    'valid' : nameInputngClass.valid,
    'invalid' : nameInputngClass.invalid
    }"
  />
  <p class="message-error" [class.invalid]="nameInputngClass.invalid">
    El campo es requerido
  </p>

  <div class="styles">
    <div>
      <input type="number" [(ngModel)]="box.width" />
      <input type="number" [(ngModel)]="box.height" />
      <input type="color" [(ngModel)]="box.background" />
    </div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }">
    </div>
  </div>

  <hr/>
  <h1>Class & Style</h1>
  <input type="text" required #nameInputClass="ngModel" [(ngModel)]="name">
  <p class="message-error" [class.invalid]="nameInputClass.invalid">
    El campo es requerido
  </p>

  <label>Name</label>
  <input type="text" required #nameInputStyle="ngModel" [(ngModel)]="name">
  <p [style.font-style]="nameInputStyle.invalid ? 'italic' : 'normal'">
    Sample Text
  </p>

  <hr/>
  <h1>ngSwitch</h1>

  <input type="text" required [(ngModel)]="name">

  <div [ngSwitch]="name">
    <p *ngSwitchCase="'Jorge'">
      The user is Jorge
    </p>
    <p *ngSwitchCase="'Noelia'">
      The user is Noelia
    </p>
    <p *ngSwitchCase="'Valentino'">
      The user is Valentino
    </p>
    <p *ngSwitchDefault> There is no match</p>
  </div>

  <!-- <p *ngIf="name === 'Jorge'">
    The user is Jorge
  </p>
  <p *ngIf="name === 'Noelia'">
    The user is Noelia
  </p>
  <p *ngIf="name === 'Valentino'">
    The user is Valentino
  </p> -->

  <hr/>
  <h1>*ngFor Objects</h1>
  <div class="products-grid">
    <div *ngFor="let product of products">
      <img width="250" [src]="product.image" alt="image">
      <h2> $ {{product.price}}</h2>
      <p>{{product.name}}</p>
    </div>
  </div>
  <hr/>
  <h1>*ngFor</h1>
  <input type="text" required [(ngModel)]="newName">
  <button (click)="addName()">Add Name</button>
  <ul>
    <li *ngIf="names.length === 0">There is no names</li>
    <li *ngFor="let name of names; index as i">
      {{i+1}} - {{name}}
      <button (click)="deleteName(i)">Delete</button>
    </li>
  </ul>
  <hr/>
  <h1>*ngIf</h1>
  <input type="text" required [(ngModel)]="name">
  <p *ngIf="name == 'Jorge'">My content</p>
  <hr/>
  <h1>NgModel</h1>
  <p>Nombre: {{name}}</p>
  <p>Edad: {{age}} </p>
  <input type="text" required #nameInput="ngModel" [(ngModel)]="name">
  <p>Valid: {{nameInput.valid}}</p>
  <input type="number" max="100" min="18" required #ageInput="ngModel" [(ngModel)]="age">
  <p>Valid: {{ageInput.valid}}</p>
  <hr/>
  <h1>Eventos</h1>
  <button [disabled]="btnDisabled">Enviar</button>
  <button (click)="toggleButton()">Toggle button</button>
  <p>Edad: {{age}} </p>
  <button (click)="increaseAge()">Increase Age</button>
  <div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nesciunt ex excepturi quibusdam at? Fugit unde minus incidunt. Quo esse cum delectus cupiditate ad exercitationem repellendus dolorum aperiam eos sit.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nesciunt ex excepturi quibusdam at? Fugit unde minus incidunt. Quo esse cum delectus cupiditate ad exercitationem repellendus dolorum aperiam eos sit.</p>
  </div>
  <p>Nombre {{name}}</p>
  <input type="text" [value]="name" (keyup)="changeName($event)">
  <hr/>
  <h1>Propiedades</h1>
  <button [disabled]="btnDisabled">Enviar</button>
  <input type="text" [value]="name"/><br/>
  <progress max="100" [value]="age"></progress>
  <hr/>
  <h1>Hola Mundo</h1>
  <h2>{{'Hola Mundo'.repeat(5)}}</h2>
  <p>3+3={{3+3}}</p>
  <h3>Hola, soy {{name}}, y tengo {{age}} años</h3>
  <img  src={{img}} alt ='Random Tech Image'>
</body>
</html>
